# Environment 
NODE_ENV=development # trocar entre development | production

# Banco
POSTGRES_USER=admin
POSTGRES_PASSWORD=password # colocar a senha do banco de dados
POSTGRES_DB=farmoo

# Rede interna
DB_HOST=farmoo.db
DB_PORT=5432

# Portas do host
DB_HOST_PORT=9000
ANIMAIS_HOST_PORT=9001
PRODUCOES_HOST_PORT=9002
FINANCEIRO_HOST_PORT=9003

#Timezone do container e banco
TZ=America/Sao_Paulo
PGTZ=America/Sao_Paulo