# Environment
NODE_ENV=development # trocar entre development | production

# Portas do host
ANIMAIS_MCP_HOST_PORT=9101
PRODUCOES_MCP_HOST_PORT=9102
CHAT_HOST_PORT=9103

# Serviços HTTP
ANIMAIS_SERVICE_URL=http://farmoo.animais:3000
PRODUCOES_SERVICE_URL=http://farmoo.producoes:3001

# Serviços MCP
ANIMAIS_MCP_URL=http://farmoo-animais-mcp:3000/mcp
PRODUCOES_MCP_URL=http://farmoo-producoes-mcp:3001/mcp

# Chat Gemini
GEMINI_API_KEY=
GEMINI_MODEL=gemini-3.5-flash-lite

# Timezone dos containers
TZ=America/Sao_Paulo